[Unit]
Description=tunnelvision client - %I
Documentation=https://github.com/DsThakurRawat/TunnelVision
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/tunnelvision client --config /etc/tunnelvision/%i.yaml
Restart=always
RestartSec=5
# Security Hardening
ReadOnlyPaths=/etc/tunnelvision
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
